<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
	<head>
		<meta charset="UTF-8"/>
		<meta name="renderer" content="webkit"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>添加角色</title>
		<link rel="stylesheet" href="/layui/css/layui.css" media="all"/>
		<link rel="stylesheet" type="text/css" href="/css/admin.css"/>
	</head>
	<body>
		<div class="wrap-container">
			<form class="layui-form" style="width: 90%;padding-top: 20px;">
					<input type="hidden" name="id" th:value="${model?.id}"/>
					<div class="layui-form-item">
						<label class="layui-form-label">名称：</label>
						<div class="layui-input-block">
							<input type="text" name="role" th:value="${model?.role}" required="required" lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input"/>
						</div>
					</div>

				<div class="layui-form-item">
					<label class="layui-form-label">描述：</label>
					<div class="layui-input-block">
						<input type="text" name="description" th:value="${model?.description}" required="required" lay-verify="required" placeholder="请输入权限描述" autocomplete="off" class="layui-input"/>
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">菜单树：</label>
					<div class="layui-input-block">
						<div id="permission_tree"></div>
					</div>
				</div>

					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn layui-btn-normal" lay-submit="lay-submit" lay-filter="formDemo">立即提交</button>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				<div style="display: none">
					<span name="had_choose_permission" th:each="permission:${model?.permissionList}" th:text="${permission.id}"></span>
				</div>
				</form>
		</div>

		<script src="/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="/lib/layui-xtree.js" type="text/javascript" charset="utf-8"></script>
		<script>

			layui.use(['form','jquery'], function() {

				var form = layui.form(),
                    $ = layui.jquery;
				form.render();
				$("select").val($("#select_tmp").val());
                form.render('select');
                var array = new Array();
                var had_choose_permission = $("span[name='had_choose_permission']");
				$(had_choose_permission).each(function(){
				    array.push($(this).text());
				});
                var xtree = new layuiXtree({
                    elem: 'permission_tree'
                    , form: form
                    , data: '/admin/getTreePermission'
                    , isopen: true
                    , color: "#000"
                    , icon: {
                        open: ""
                        , close: ""
                        , end: ""
                    }
                    ,had_choose:array



                });


				form.on('submit(formDemo)', function(data) {
                    var array = new Array();
                    $(xtree.GetChecked()).each(function(){
                        array.push($(this).val());
					});
                    json = {
                        id:$("input[name='id']").val(),
                        role:$("input[name='role']").val(),
                        description:$("input[name='description']").val(),
                        permissionList:array

                    };
				    $.ajax({
						url:"/admin/addRole",
						type:"POST",
						data:JSON.stringify(json),
                        async: false,
                        dataType:"json",
                        contentType:"application/json",
                        success:function(data){
						    if(data.code == 0){
                                layer.msg(data.msg);
                                layer.close(layer.index);
                                window.parent.location.reload();
                            }else{
                                layer.msg(data.msg);
                                return false;
							}
						}
					});
				});
			});
		</script>
	</body>

</html>