<div class="main-layout-side" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="m-logo">
    </div>
    <ul class="layui-nav layui-nav-tree" lay-filter="leftNav">
        <li class="layui-nav-item layui-nav-itemed" th:if="${session.user_session_key.username=='admin'}">
            <a href="javascript:;"><i class="iconfont">&#xe607;</i>超管功能</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;" data-url="admin/role" data-id='-1' data-text="角色管理"><span class="l-line"></span>角色管理</a></dd>
                <dd><a href="javascript:;" data-url="admin/permission" data-id='-2' data-text="权限管理"><span class="l-line"></span>菜单管理</a></dd>
                <dd><a href="javascript:;" data-url="admin/user" data-id='-3' data-text="用户管理"><span class="l-line"></span>用户管理</a></dd>
            </dl>
        </li>
        <li  class="layui-nav-item layui-nav-itemed"  th:each="permission:${permissionList}">
            <a href="javascript:;"  th:attr="data-id=${permission.id},data-text=${permission.name},data-url=${permission.url}" ><i class="iconfont">&#xe607;</i><th:block th:text="${permission.name}"></th:block></a>
            <dl class="layui-nav-child" th:each="child:${permission.childPermission}">
                <dd><a href="javascript:;" th:attr="data-id=${child.id},data-text=${child.name},data-url=${child.url}"><span class="l-line"></span><th:block th:text="${child.name}"></th:block></a></dd>
            </dl>
        </li>
    </ul>
</div>