<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8"/>
    <title>登陆</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/css/login.css" media="all"/>

</head>
<body>
<div class="m-login-bg">
    <div class="m-login">
        <h3>后台系统登录</h3>
        <div class="m-login-warp">
            <form class="layui-form" action="/login" method="post">
                <div class="layui-form-item">
                    <input type="text" id="username" name="username" required="required" lay-verify="required" placeholder="用户名" autocomplete="off" class="layui-input"/>
                </div>
                <div class="layui-form-item">
                    <input type="password" id="password" name="password" required="required" lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input"/>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <input type="text" name="verify" id="verify" required="required" lay-verify="required" placeholder="验证码" autocomplete="off" class="layui-input" />
                    </div>
                    <div class="layui-inline">
                        <img class="verifyImg"  onclick = "this.src='/verifyCode?d='+new Date()*1" src="/verifyCode" />
                    </div>
                </div>
                <div class="layui-form-item m-login-btn">
                    <div class="layui-inline">
                        <button type="submit" class="layui-btn layui-btn-normal"  lay-filter="login">登录</button>
                    </div>
                    <div class="layui-inline">
                        <button type="reset" class="layui-btn layui-btn-primary">取消</button>
                    </div>
                </div>
            </form>
            <input type="hidden" id="msg" th:value="${msg}"/>
            <input type="hidden" id="is_login" th:value="${session.user_session_key} ne null"/>
        </div>
    </div>
</div>
<script src="/layui/layui.js" charset="utf-8"></script>
<script src="/lib/jquery-3.3.1.min.js"></script>
<script >

    if($("#is_login").val()){
        window.location.href = "/index";
    }

    if($("#msg").val()){
        alert_box($("#msg").val());
    }

    $("submit").click(function () {
        if(!$("#username").val()){
            alert_box("用户名不能为空");
            return;
        }
        if(!$("#password").val()){
            alert_box("密码不能为空");
            return;
        }
        if(!$("#verify").val()){
            alert_box("验证码不能为空");
            return;
        }


    });

    function alert_box(msg) {
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.msg(msg);
        });
    }



</script>
</body>
</html>